@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator")]

<div class="row mb-3 mt-1">
    <div class="col-md-4">
        <SearchBox OnSearchChanged="SearchChanged" />
    </div>
    <div class="col-md-3">
        <SortBar OnSortChanged="SortChanged" />
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary float-right" @onclick="() => ShowInfo(0)">
            Thêm ứng viên
        </button>
    </div>
</div>

<!-- List candidate -->
<table class="table table-bordered">
    <thead>
        <tr class="text-center bg-secondary text-white">
            <th scope="col">Chức danh</th>
            <th scope="col">Vị trí</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Người giới thiệu</th>
            <th scope="col">CV</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstCandi)
        {
            <tr>
                <td>@item.LevelName</td>
                <td>@item.PositionName</td>
                <td>@item.FullName</td>
                <td>@item.Birthday</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.IntroduceName</td>
                <td><button class="btn btn-link" @onclick="() => ShowCV(item.CandidateId)">@item.CVPath</button></td>
                <td class="text-center">
                    <button class="btn btn-success btn-sm mr-1" @onclick="() => ShowInfo(item.CandidateId)">Sửa</button>
                    <button class="btn btn-danger btn-sm" @onclick="() => Delete(item.CandidateId)">Xoá</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<AddEditModal @ref="InfoModal" OnClose="GetCandidates" />

<Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />

<ShowCVModal @ref="CVModal" />